[client]
port = 6033
default-auth=mysql_native_password
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4
default-auth=mysql_native_password

[isamchk]
key_buffer              = 16M

[mysqldump]
quick
quote-names
max_allowed_packet      = 16M
